.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}


.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}

.search-label {
	position: relative;
}

.container input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}

.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}

/*Result Container*/
.results-container {
	display: flex;
	flex-flow: wrap;
}

.result-item {
	position: relative;
	padding: 16px;
	border: 1px solid #898989;
	margin: 16px;
	text-align: center;
	min-width: 200px;
	box-shadow: 2px 2px 2px #898989;
}

.image-username {
	color: #ff7f50;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: rgba( 0 ,0 ,0 , 0.8 );
	padding: 5px 10px;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	box-sizing: border-box;
	height: 100%;

}

.image {
	width: 100%;
	height: 200px;
}

/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

/*Show and hide*/
.show {
	display: inline-block;
}

.hide {
	display: none;
}

/*Prev and next*/

.nav-link-container {
	margin: 20px 0;
	display: flex;
	justify-content: flex-end;
}

.nav-link {
	color: #555;
	text-decoration: none;
	border: 1px solid #898989;
	padding: 10px 20px;
	margin-right: 10px;
}

.greyed-out {
	background: #f1f1f1;
	opacity: 0.5;
}


#title {
	text-align: center;
	font-family: arial, sans-serif;
  }
  
  #students {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 3px solid #ddd;
	width: 100%;
  }
  
  #students td, #students th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;
  }

  /* Table axios-react-table */

.thead {
	border: 1px solid #ddd;
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4CAF50;
	color: white;

	  }

tr.thtrcss{
	height: max-content;
	width: fit-content;
}
.tablecss{

	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 3px solid #ddd;
	width: 100%;
}
.trcss:nth-child(even){
	background-color: #f2f2f2;
}
.trcss:hover{
	background-color: #ddd;
}
.tdcss{
	border: 1px solid #ddd;
	padding: 8px;
}
.thcss{
	width: max-content;
}
.badge{
    font-size: .7rem;
    padding: .05rem .4rem .15rem;
	background-color: #2ecc71;
	box-sizing: border-box;
    display: inline-block;    
    border-radius: 3rem; 
    text-align: center;
    line-height: inherit;
}